In [2]:
"""
1. create empty dict and add one item and find the length
"""
data = {}
data["name"] = "hari"
data.update({"age":23})
print(data, len(data))

{'name': 'hari', 'age': 23} 2

In [7]:
""" 
2. Create a empty dictionary with
	 keys as numbers and values as their squares from 1 to n
Example: {1: 1, 2: 4, 3: 9, 4: 16}
"""
nums = {}
n = int(input("Enter Value: "))
for num in range(1, n+1):
    # print(num, num*num)
    nums[num] = num*num
print(nums)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [9]:
""" 
3. Merge two dictionaries into one
Example: Merge {'a': 1, 'b': 2} with {'c': 3, 'd': 4} 
		to get {'a': 1, 'b': 2, 'c': 3, 'd': 4}.
"""
data1 = {'a': 1, 'b': 2}
data2 = {'c': 3, 'd': 4} 
data1.update(data2)
print(data1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [16]:
""" 
4. Check if the key 'name' exists in {'name': 'Alice', 'age': 30}.
"""
# data = {'name': 'Alice', 'age': 30}
# print("name" in data)

""" 
Check if the value 30 exists in {'name': 'Alice', 'age': 30}.
"""
data = {'name': 'Alice', 'age': 30}
for key, val in data.items():
    if val == 30:
        print(True)
        break
else:
	print(False)

True

In [25]:
""" 
5. Access the value associated with a specific key
Example: Access the value of 'age' in {'name': 'Alice', 'age': 30}.
"""
data = {'name': 'Alice', 'age': 30}
keyInput = input("Enter Key: ")

if keyInput not in data:
    print(f"{keyInput} not in {data}")
else:
    print(data[keyInput])

Alice

In [ ]:
""" 
6. Update the value of an existing key
	Update the value of 'age' from 30 to 31 in {'name': 'Alice', 'age': 30}.
"""

In [ ]:
""" 
7. Add a new key-value pair to the dictionary
Add 'city': 'New York' to {'name': 'Alice', 'age': 31}.
"""

In [ ]:
""" 
8. Remove a key-value pair
Remove the key 'name' from {'name': 'Alice', 'age': 31, 'city': 'New York'}.
"""

In [ ]:
""" 
9. Check if a dictionary is empty
Check if the dictionary {'name': 'Alice'} is empty.
"""

In [ ]:
""" 
10. get all the keys, values, items of dict
{'name': 'Alice', 'age': 31, 'city': 'New York'}.
"""

In [ ]:
""" 
11. create two keys i.e., vowels and consonants 
    append all the characters to vowel/consonant after checking from sentence.
    "codewala flask"
    {
      "vowels": ["o", "e", "a", "a", "a"],
	  "consonants": ["c", "d", "e", "w", "l", "f", "l", "s", "k"]
    }
"""

In [ ]:
""" 
12. create dict with key as string type and value as dict type
    create dict with key as int type and value as list
"""

In [ ]:
""" 
13. create two keys i.e., evens and odds and values as empty list
    append all even nums from 1-100(inclusive) in evens,
    	  and odd nums in odds
"""

In [ ]:
""" 
14. count the frequency of each letter in a string
	ex:- 
		"codewala"
		{"c":1, "o":1, "d":1, "e":1, "w":1, "a":2, "l":1}

        "steeve"
        {"s":1, "t":1, "e":3, "v":1}
    
"""

In [ ]:
""" 
15. print only the letters in string that has repeated twice with help of dict
	ex:- "letter"
		  "e","t" repeated twice
"""